.modal__container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: var(--z-index-modal-backdrop);
}

.modal__content {
  position: relative;
  width: 100%;
  max-width: 25rem;
  padding: 2.5rem;
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  background-color: var(--colors-off-white);
  z-index: var(--z-index-modal);
}
