.input-bar {
  position: absolute;
  top: -2rem;
  display: flex;
  padding: 1rem 0.5rem;
  background-color: var(--colors-off-white);
  border-radius: 0.625rem;
  width: 56.5rem;
}

.input-box {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 2.75rem;
  justify-content: space-between;
  padding: 0 1.5rem;
  border-right: 1px solid var(--colors-placeholder);
}

.input-box:last-child {
  border: 0;
}

.input__title {
  color: var(--colors-primary);
  font-size: 0.75rem;
  display: block;
}

.input {
  display: block;
}

.input__date {
  font-size: 0.75rem;
  width: 5rem;
}

.input__category {
  width: 6.25rem;
}

.input__content {
  width: 10.75rem;
}

.input__payment-methods {
  width: 6.25rem;
}

.input__money-container {
  width: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input__money-sign {
  line-height: 2rem;
  font-size: 2rem;
}

.input__money-amount {
  width: 6rem;
  text-align: right;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.dropdown {
  position: absolute;
  left: 0;
  top: 4.25rem;
}

.dropdown__list {
  position: relative;
  border-radius: 0.625rem;
  padding: 0 1.5rem;
  background-color: var(--colors-off-white);
  z-index: var(--z-index-dropdown);
}

.dropdown__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: calc(var(--z-index-dropdown) - 10);
}

.dropdown__item {
  width: 6.25rem;
  padding: 1rem 0;
  border-bottom: 1px solid var(--colors-placeholder);
}

.dropdown__item:last-child {
  border: 0;
}

.confirm-button-container {
  position: absolute;
  top: 2rem;
  right: 1rem;
}

.confirm-button:disabled {
  opacity: 0.25;
}

.closed {
  visibility: hidden;
}
